<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80241012509-m520h8gn42vrssgba413buclf0a42tuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80241012509-m520h8gn42vrssgba413buclf0a42tuo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>80241012509-ucio0dlq993e792dfp7j3q7p54rk3ssq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRlka_nf3tWZb7ao0AxGWHQSD-Mpq28FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>80241012509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>logpage-9aeb7</string>
	<key>STORAGE_BUCKET</key>
	<string>logpage-9aeb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80241012509:ios:9120589db52ef3c0b1bbf4</string>
</dict>
</plist>